* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* navbar Start */

nav {
    background-color: rgb(182, 234, 182);
    width: 100%;
    top: 0px;
    position: sticky  !important;
    z-index: 10000;
}


/* Navbar End */



!-- Carousel start -->


.slide-bar-1{
    height: 100% !important;
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

}

.slide-bar-1 img {
    width: 100% !important;
    height: 100% !important;
}



#correctborder {
    border-radius: 0px !important;
}


/* !-- Carousel End --> */



/* sectoion 1 Start */
.Section1 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.problem {
    height: 100%;
    width: 60%;
}

.problem h1 {
    color: green;
    margin-top: 50px;
    font-weight: bolder;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
}

#paraimg1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.parasection1 {
    height: 50vh;
    width: 80%;
    display: flex;
    align-items: center;
}

.parasection1 p {
    color: black;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;

}

.imgsection1 img {
    height: 300px !important;
}


/* sectoion 1 Media tag  Start*/

/* width 426px Start */

@media (min-width: 426px) and (max-width: 1024px) {
    .Section1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .problem {
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
    }

    #paraimg1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .parasection1 {
        height: 310px;
        width: 100%;
    }

    .parasection1 p {
        color: black;
        font-size: 1.2rem;
        font-family: 'Times New Roman', Times, serif;

    }

    .problem h1 {
        font-size: 3rem;

    }
}

/* width 1024 end */

/* width 425px Start */

@media (max-width: 425px) {
    .Section1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .problem {
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
    }

    #paraimg1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .parasection1 {
        height: 380px;
        width: 100%;
    }

    .parasection1 p {
        color: black;
        font-size: 1rem;
        font-family: 'Times New Roman', Times, serif;

    }

    .problem h1 {
        font-size: 3rem;

    }
}

/* width 0px End */


/* sectoion 1 Media tag  End*/

/* sectoion 1 End */

/* Section 2 Solution Start */



.section2 {
    /* background-color: black; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.solution {
    height: 100%;
    width: 65%;
}

.solution h1 {
    color: green;
    margin-top: 30px;
    font-weight: bolder;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
}

.cards {
    /* background-color: aqua; */
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.box {
    /* background-color: green; */
    height: 250px;
    width: 200px;
    text-align: center;
    place-content: center;
    gap: 50px;
}

.box img {
    height: 11.25rem;
}

.box h4 {
    color: black;
    font-size: 1.2rem;
}

.lightgreen {
    /* background-color: rgb(95, 179, 95); */
}

@media (max-width: 425px) {
    .solution h1 {
        color: green;
        margin-top: 50px;
        font-weight: bolder;
        font-size: 3rem;
        font-family: 'Times New Roman', Times, serif;
    }
    .cards{
        height: 100%;
        width: 100%;
    }
}
@media (max-width: 1024px) {
    .cards{
        height: 100%;
        width: 100%;
    }
}



/* Section 2 Solution End */

/* <!-- section 3 Bussiness Model Start --> */

.section3 {
    /* background-color: black; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bussiness-models {
    height: 100%;
    width: 65%;
}

.bussiness-models h1 {
    color: green;
    margin-top: 30px;
    font-weight: bolder;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
}
.bussinesscards {
    /* background-color: aqua; */
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.bussinessbox {
    height: 250px;
    width: 250px;
    text-align: center;
    place-content: center;
    color: green;
    font-size: 1.2em;

}
.bussinessbox img{
    height: 150px;
    
}
.bussiness-models p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: black;
}

@media (max-width: 768px) {
    .bussinesscards {
        height: 100%;
        width: 100%;
    }
}
@media (max-width: 1024px) {
    .bussinesscards {
        height: 100%;
        width: 100%;
    }
}

/* <!-- section 3 Bussiness Model Start --> */

/* <!-- section 4 Example Start --> */



.section4 {
    /* background-color: black; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.example {
    height: 100%;
    width: 65%;
}
.example h1 {
    color: green;
    margin-top: 30px;
    font-weight: bolder;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
}
